.popUp {
    overflow-y: scroll;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition: linear, 0.5s;
    opacity: 0;
    }

.popUp-content {
    margin-top: calc(100vh / 3);
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    padding: 0.5rem;
    font-size: 18px;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: #88cf88;
}

.show-popUp {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-out;
}