{% extends 'base.html' %}

{% block title %}
Ошибка сервера
{% endblock %}

{% block header %}
500
{% endblock %}

{% block content %}
<p>Внутренняя ошибка сервера. Извините за неудобства.
    Попробуйте проверить введенные данные и повторить запрос
    позже или обратитесь к администрации сайта
    для получения дополнительной информации.</p>
<div style="text-align: center; margin-top: 20px;">
    <a href="/" style="display: inline-block; padding: 10px 20px; background-color: #ff6f61; color: white; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Вернуться на главную
    </a>
</div>
{% endblock %}