{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключение шрифтов -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

    <!-- Подключение стилей -->
    {% block my_style %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe_box.css' %}">
    {% endblock %}

    <!-- Заголовок страницы -->
    <title>
        {% block title %}
        Сайт рецептов
        {% endblock %}
    </title>

    <!-- Подключение скриптов (если есть) -->
    {% block my_script %}
    {% endblock %}
</head>
<body>
    <!-- Главное меню -->
    <nav class="main_menu">
        <ul class="main_menu__ul">
            <li>
                <a class="main_menu__link" href="/index/" data-title="Главная страница">
                    <img style="width: 35px;" src="{% static 'img/cookbook.png' %}" alt="Cookbook">
                </a>
            </li>
            {% block user %}
            {% endblock %}
        </ul>
    </nav>

    <!-- Заголовок страницы -->
    <header class="header">
        <h1 class="page_title">
            {% block header %}
            Проект "Сайт рецептов"
            {% endblock %}
        </h1>
    </header>

    <!-- Основной контент -->
    <main class="content">
        <div class="content-box">
            {% block content %}
            <!-- Контент будет вставлен сюда -->
            {% endblock %}
        </div>
    </main>

    <!-- Подвал -->
    <footer class="footer">
        <div class="footer-box">
            <p class="copyright_text">© 2025 Проект "Сайт рецептов" на Django.</p>
        </div>
    </footer>
</body>
</html>
