{% extends 'base.html' %}
{% load static %}

{% block my_style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block title %}
Сайт рецептов - пользователь
{% endblock %}

{% block my_script %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous">
<script type="text/javascript" src="{% static 'js/user.js' %}" defer></script>
{% endblock %}

{% block header %}
Проект "Сайт рецептов" на Django
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form method="post">
            {% csrf_token %}
            <h3>Регистрация</h3>
            <div class="input-group">
                <label for="id_username">Имя пользователя</label>
                {{ reg_form.username }}
            </div>
            <div class="input-group">
                <label for="id_email">Электронная почта</label>
                {{ reg_form.email }}
            </div>
            <div class="input-group">
                <label for="id_password1">Пароль</label>
                {{ reg_form.password1 }}
            </div>
            <div class="input-group">
                <label for="id_password2">Подтверждение пароля</label>
                {{ reg_form.password2 }}
            </div>
            <button type="submit" name="register" class="btn btn-primary">Зарегистрироваться</button>
            {% if messages %}
                {% for message in messages %}
                    <p class="user_form_error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="post">
            {% csrf_token %}
            <h2>Авторизация</h2>
            <div class="input-group">
                <label for="id_email">Электронная почта</label>
                {{ login_form.email }}
            </div>
            <div class="input-group">
                <label for="id_password">Пароль</label>
                {{ login_form.password }}
            </div>
            <button type="submit" name="login" class="btn btn-primary">Войти</button>
            {% if messages %}
                {% for message in messages %}
                    <p class="user_form_error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2>С возвращением!</h2>
                <p>Пожалуйста, войдите в систему</p>
                <button class="ghost" id="signIn">Авторизоваться</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h2>Добро пожаловать!</h2>
                <p>Пожалуйста, зарегистрируйтесь для продолжения </p>
                <button class="ghost" id="signUp">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
